.choice {
    margin-top: 145px;
    background: url(./../../../src/images/Klipsch/choice.webp);
    background-size: cover;
    padding: 60px 0;
}

.choice__block {
    margin: 0 auto;
    max-width: 1313px;
    display: flex;
    flex-direction: column;
    padding: 0 20px;
    color: var(--white);
}

.choice__text {
    margin: 60px 0 45px 0;
    gap: 10px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.choice__text>p {
    font-weight: 400;
    font-size: 40px;
    line-height: 140%;
    letter-spacing: 0%;
    width: 67%;
}

.choice__text>button {
    padding: 28px 45px;
}

.choice__card {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
}

.choice__card>.blur-block {
    padding: 24px;
    box-sizing: border-box;
}

.choice_first {
    max-width: 23%;
    height: 211px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


.choice_last {
    width: 32%;
    display: flex;
}

@media (max-width: 1024px) {
    .choice__text>p {
        font-size: 32px;
    }

    .choice__text>button {
        padding: 20px 25px;
    }

    .choice_last {
        width: 31%;
        max-width: auto;
        height: 211px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

}


@media (max-width: 900px) {
    .choice__text {
        margin: 30px 0 25px 0;
        gap: 10px;
        display: flex;
        flex-direction: column;
    }

    .choice__text>p {
        width: 67%;
    }

    .choice_last {
        width: 30%;
    }

}

@media (max-width: 768px) {
    .choice__text>p {
        font-size: 28px;
    }

    .choice_first {
        max-width: 190px;
    }


}