.choice {
    background: url(./../../../src/images/Klipsch/choice.webp);
    background-size: cover;
    background-repeat: no-repeat;
    padding: 60px 0;
}

.choice__block {
    margin: 0 auto;
    max-width: 1313px;
    display: flex;
    flex-direction: column;
    padding: 0 20px;
    color: var(--white);
}

.choice__text {
    margin: 60px 0 45px 0;
    gap: 10px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.choice__text>p {
    font-weight: 400;
    font-size: 40px;
    line-height: 140%;
    letter-spacing: 0%;
    width: 67%;
}

.choice__text>button {
    padding: 28px 45px;
}

.choice__card {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
}

.choice__card>.blur-block {
    padding: 24px;
    box-sizing: border-box;
}

.choice_first {
    max-width: 23%;
    height: 211px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    z-index: 1;
}


.choice_last {
    width: 32%;
    display: flex;
    gap: 10px;
    z-index: 1;
}

.choice-prev,
.choice-next {
    display: none;
}


.choice-btn-min {
    display: none;
}

@media (max-width: 1440px) {
    .choice {
        background-position: right -100px center;
    }
}

@media (max-width: 1024px) {
    .choice {
        background-position: right -300px center;
    }

    .choice__card {
        position: relative;
    }

    .choice__text>p {
        font-size: 32px;
    }

    .choice__text>button {
        padding: 20px 25px;
    }

    .choice_last {
        width: 31%;
        max-width: auto;
        height: 211px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .choice-prev {
        right: 40px;
    }

    .choice-next {
        right: 5px;
    }

}


@media (max-width: 900px) {
    .choice__text {
        margin: 30px 0 90px 0;
        gap: 10px;
        display: flex;
        flex-direction: column;
    }

    .choice__text>p {
        width: 67%;
    }

    .choice_last {
        width: 30%;
    }

}

@media (max-width: 800px) {
    .choice__block {
        padding: 0 0 0 20px;
    }

    .choice__text {
        padding-right: 20px;
    }

    .choice__card {
        display: block;
        width: 100%;
        overflow: visible;
        position: relative;
        overflow: hidden;
    }

    .choice__text>p {
        width: 100%;
    }

    .choice_first {
        width: 270px !important;
        max-width: 270px;
        height: 180px;
        padding: 20px;
        box-sizing: border-box;
    }

    .choice_last {
        width: 270px !important;
        height: 180px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 20px;
        box-sizing: border-box;
    }

    .swiper-button-prev,
    .swiper-button-next {
        width: 30px;
        height: 30px;
        background: rgba(0, 0, 0, 0.5);
        color: white;
        border-radius: 50%;
        top: 50%;
        transform: translateY(-50%);
    }

    .choice-prev,
    .choice-next {
        position: absolute;
        top: -60px;
        z-index: 10;
        width: 40px;
        height: 40px;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        border: none;
    }

    .choice-prev {
        right: 20px;
    }

    .choice-next {
        right: 70px;
    }
}

@media (max-width: 768px) {
    .choice {
        padding: 30px 0;
    }

    .choice>p {
        font-size: 28px;
        width: 100%;
    }

    .choice__text>button {
        display: none;
    }

    .choice-btn-min {
        display: block;
        margin-top: 20px;
        padding: 19px 25px;
        width: calc(100% - 20px);
    }
}

@media (max-width: 425px) {
    .choice__text {
        margin: 28px 0 70px 0;
    }

    .choice__text>p {
        font-size: 16px;
    }
}


@media (max-width: 370px) {
    .choice {
        background: url(./../../../src/images/Klipsch/choice-min.webp);
    }
}