.hero {
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    gap: 10px;
    width: 100%;
    height: 739px;
}


.hero__content {
    width: 63%;
    background-color: var(--text);
    color: var(--white);
    padding: 62px 57px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.content__block>h3 {
    font-size: 20px;
    font-weight: 600;
    line-height: 120%;
}

.block-h2 {
    font-weight: 600;
    font-size: 64px;
    line-height: 120%;
    margin: 25px 0 30px 0;
}

.hero__btns {
    display: flex;
    gap: 20px;
}

.hero__btns>button {
    padding: 28px 58px;
}

.hero__img {
    width: 35%;
    height: 100%;
    overflow: hidden;
    position: relative;
}

.hero__img>img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: calc(100% - -177px) 50%;
    display: block;
}

.hero__img-label {
    position: absolute;
    top: 30px;
    left: 30px;
    margin-right: 20px;
    color: var(--white);
    border: 1px solid var(--white);
    padding: 12px 16px;
    border-radius: 16px;
}

@media (max-width: 1280px) {
    .content__block>h2 {
        font-size: 50px;
        margin: 25px 0 30px 0;
    }

    .hero__img-label {
        right: 30px;
    }

    .hero__btns>button {
        padding: 20px 30px;
    }
}

@media (max-width: 1024px) {
    .hero {
        justify-content: start;
        flex-direction: column;
        height: auto;
    }

    .hero__img-label {
        right: auto;
    }

    .hero__content {
        width: 100%;

    }

    .hero__img {
        width: 100%;
    }

    .hero__img>img {
        object-position: initial;
    }

    .hero__btns {
        margin-top: 20px;
    }

}


@media (max-width: 768px) {
    .content__block>h3 {
        font-size: 20px;
    }

    .content__block>h2 {
        font-size: 40px;
    }

    .hero__content {
        padding: 30px;
    }

    .hero__btns>button {
        padding: 15px 20px;
        border-radius: 16px;
    }
}

@media (max-width: 550px) {
    .content__block>h2 {
        font-size: 34px;
    }

    .hero__btns {
        flex-direction: column;
    }
}


@media (max-width: 425px) {
    .content__block>h3 {
        font-size: 16px;
    }

    .content__block>h2 {
        font-size: 28px;
    }

    .hero__content {
        padding: 20px;
    }

    .hero__img-label {
        top: 20px;
        left: 20px;
    }
}

@media (max-width: 360px) {
    .content__block>h2 {
        font-size: 22px;
    }

    .hero__img-label {
        padding: 12px 10px;
    }
}

@media (max-width: 340px) {
    .hero__img-label {
        font-size: 14px !important;
    }
}