@import url("./header.css");
@import url("./hero.css");
@import url("./why.css");
@import url("./choice.css");
@import url("./tasks.css");
@import url("./approach.css");
@import url("./project.css");
@import url("./footer.css");

@font-face {
    font-family: 'Inter';
    src: url('/fonts/Inter/Inter-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Inter';
    src: url('/fonts/Inter/Inter-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Inter';
    src: url('/fonts/Inter/Inter-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}


:root {
    --background: #F5F5F5;
    --backgroundAB: #ABABAB;
    --text: #181818;
    --white: #FFFFFF;
    --blue: #308BFD;
    --black: #131313;
    --black22: #222222;
    --gray: #989898;
    --gray76: #767676;
    --grayE7: #E7E7E7;
    --grayD8: #D8D8D8;
    --background-blur: #FFFFFF1A;
}


html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
}

h1,
h2,
h3,
p {
    margin: 0;
}

.container {
    max-width: 1480px;
    padding: 0 20px;
    box-sizing: border-box;
    margin: 0 auto;
}

.content {
    font-size: 20px;
    font-weight: 400;
    line-height: 120%;
}


.headline {
    font-size: 56px;
    font-weight: 600;
    line-height: 120%;
}


.headlineH2 {
    font-size: 48px;
    font-weight: 500;
    line-height: 120%;
}


.headlineH3 {
    font-size: 32px;
    font-weight: 600;
    line-height: 120%;
}

.paragraph {
    font-size: 24px;
    font-weight: 400;
    line-height: 140%;
}

.paragraph32 {
    font-size: 32px;
    font-weight: 400;
    line-height: 120%;
}

.btn {
    font-size: 24px;
    font-weight: 500;
    line-height: 140%;
    border-radius: 24px;
}


.btn-blue {
    background: var(--blue);
    color: var(--white);
    border: none;
}

.btn-black {
    background: var(--text);
    color: var(--white);
    border: 1px solid var(--white);
}


.btn-tr {
    background: transparent;
    color: var(--text);
    border: none;
}


.paragraph400 {
    font-size: 20px;
    font-weight: 400;
    line-height: 140%;
}

.paragraph500 {
    font-size: 20px;
    font-weight: 500;
    line-height: 140%;
}


.borderRadius32 {
    border-radius: 32px;
}

.borderRadius24 {
    border-radius: 24px;
}

.blur-block {
    backdrop-filter: blur(40px);
    background: var(--background-blur);
}

.blockTop {
    margin-top: 140px;
}


.turn {
    position: relative;
    display: inline-block;
    isolation: isolate;
    padding: 0px 10px;
}

.turn::before {
    content: '';
    position: absolute;
    inset: 0;
    background: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.4);
    transform: rotate(359deg);
    z-index: -1;
    border-radius: 16px;
    backdrop-filter: blur(40px);
}

input {
    border-radius: 16px;
    height: 90px;
    background: var(--background);
    border: none;
    padding-left: 20px;
    font-size: 20px;
    font-weight: 400;
    color: var(--backgroundAB);
    box-sizing: border-box;
}

@media (max-width: 1024px) {
    .headlineH3 {
        font-size: 28px;
    }

    .paragraph32 {
        font-size: 28px;
    }

    .content {
        font-size: 18px;
    }

    .paragraph500 {
        font-size: 18px;
    }

    .paragraph400 {
        font-size: 18px;

    }

    .paragraph {
        font-size: 20px;
    }

    .headlineH2 {
        font-size: 40px;
    }

    .borderRadius32 {
        border-radius: 20px;
    }
}


@media (max-width: 768px) {
    .headline {
        font-size: 30px;
    }

    .headlineH2 {
        font-size: 28px;
    }

    .headlineH3 {
        font-size: 24px;
    }


    .paragraph {
        font-size: 18px;
    }

    .paragraph32 {
        font-size: 24px;
    }

    .content {
        font-size: 16px;
    }

    .paragraph500 {
        font-size: 16px;
    }

    .paragraph400 {
        font-size: 16px;

    }

    .header__tel {
        padding: 10px 10px;
    }

    .blockTop {
        margin-top: 60px;
    }

    .btn {
        font-size: 20px;
    }

    .borderRadius32 {
        border-radius: 24px;
    }

    input {
        height: 70px;
        font-size: 20px;
        font-size: 16px;
    }
}

@media (max-width:425px) {
    .headline {
        font-size: 24px;
    }

    .headlineH2 {
        font-size: 24px;
    }

    .headlineH3 {
        font-size: 16px;
    }

    .paragraph32 {
        font-size: 16px;
    }

    .paragraph {
        font-size: 16px;
    }

    .headlineH2 {
        font-size: 20px;
    }

    .blockTop {
        margin-top: 30px;
    }

    .btn {
        font-size: 14px;
        border-radius: 16px;
    }

    .turn::before {
        border-radius: 10px;
    }

    .content {
        font-size: 14px;
    }
}