.catalog-p {
    margin-top: 65px;
}


.cat-block {
    display: flex;
    gap: 100px
}

.cat-block>p {
    margin-top: 10px;
}

.cat-slider-bl {
    background: url(/src/images/consultation-form-bg.webp);
    width: 100%;
    padding-top: 60px;
    padding-bottom: 40px;
    margin-top: 140px;
    position: relative;
    overflow: hidden;
}

.cat-block h2 {
    color: var(--white);
    max-width: 608px;
}

.cat-block p {
    color: #E5E5E5;
    max-width: 578px;
}

.catalog-nav {
    margin: 50px 0 20px 0;
    display: flex;
    gap: 10px;
    justify-content: end;
}

.catalog__img-slider {
    height: 351px !important;
}

.catalog-slider__price {
    font-weight: 600;
    font-size: 22px;
    line-height: 120%;
    margin-top: 10px;
}

.scenario-black {
    color: var(--text) !important;
    margin: 7px 0 7px 0;
}

.cat-content {
    height: 175px !important;
}

.catalog-form {
    margin-top: 0px;
}

.conswidth {
    max-width: 676px;
}


.catalog-body {
    top: -78px;
    left: 0px;
}


.catalog-body1 {
    top: 437px;
    right: 0;
}


.catalog-wrapper {
    background: #1C1F23;
    width: 100%;
    padding-top: 56px;
    padding-bottom: 50px;
    margin-top: 50px;
}

.catalog-form-width {
    max-width: 700px;
}

@media (max-width: 1500px) {
    .catalog-body1 {
        display: none;

    }
}

@media (max-width: 1440px) {
    .cat-content {
        height: auto !important;
    }

    .product__reviews-block {
        width: 100%;
    }
}



@media (max-width: 1280px) {
    .cat-block {
        gap: 10px;
    }
}


@media (max-width: 1024px) {
    .catalog-form-width {
        max-width: 500px;
    }

    .cat-block {
        flex-direction: column;
    }

    .cat-block p {
        max-width: 100%;
    }

    .cat-block h2 {
        max-width: 100%;
    }

    .product__reviews-block {
        flex-direction: column;
    }
}

@media (max-width: 768px) {
    .catalog-form-width {
        max-width: 100%;
    }

    .btn-white-bg-black {
        font-size: 0;
    }

    .btn-white-bg-black::before {
        content: attr(data-text-mobile);
        font-size: 16px;
    }


    .cat-slider-bl {
        padding-bottom: 0px;
        margin-top: 60px;
    }


    .catalog-body {
        top: 591px;
        left: auto;
        width: 100%;
        right: 0;
    }

    .catalog-wrapper {
        padding-top: 30px;
        padding-bottom: 30px;
        margin-top: 50px;
    }

    .form-text {
        font-size: 0 !important;
    }

    .form-text::before {
        content: "Задать вопрос";
        font-size: 16px;
    }
}


@media (max-width: 425px) {
    .catalog-body1 {
        top: -78px;
        left: 0px;
    }

}