.cat-block {
    display: flex;
    gap: 40px;
}

.cat-slider-bl {
    background: url(/src/images/consultation-form-bg.webp);
    width: 100%;
    padding-top: 205px;
    padding-bottom: 40px;
    margin-top: 140px;
    position: relative;
    overflow: hidden;
}

.cat-block h2 {
    color: var(--white);
    max-width: 608px;
}

.cat-block p {
    color: #E5E5E5;
    max-width: 578px;
}

.accompany-prev,
.accompany-next {
    width: 36px;
    height: 36px;
    background: transparent;
    border: 1px solid var(--text);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    color: var(--text);
    box-sizing: border-box;
}