.catalog__assortment {
    display: grid;
    grid-template-columns: 527px 527px 346px;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    margin-top: 20px;
}

.assortment1 {
    grid-area: 1 / 1 / 2 / 2;
}

.assortment2 {
    grid-area: 1 / 2 / 2 / 3;
}

.assortment3 {
    grid-area: 1 / 3 / 3 / 4;
}

.assortment4 {
    grid-area: 2 / 2 / 3 / 3;
}

.assortment5 {
    grid-area: 2 / 1 / 3 / 2;
}

.catalog__assortment>div {
    background-color: var(--text-gray-e8);
    background-image: url(./../images/mask.webp);
    background-repeat: no-repeat;
    justify-content: space-between;
    display: flex;
}

.assortment-card {
    padding: 38px 41px 41px 41px;
    display: flex;
    height: 249px;
    box-sizing: border-box;
}

.assortment-card>div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.assortment-card-tr {
    padding-bottom: 40px;
    flex-direction: column;
}

.assortment-card-tr>div {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.assortment-card-tr>div>h2 {
    margin-bottom: 20px;
    text-align: center;
}


.catalog__img {
    width: 48%;
}

.catalog__googs {
    display: grid;
    grid-template-columns: 305px 1fr;
    gap: 10px;
}

.catalog__filters {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.catalog__img>img {
    width: 100%;
    height: auto;
}

.catalog__img-big {
    width: 100%;
    display: flex;
    margin: 0 auto;
}


.catalog__filters-head {
    width: 100%;
    height: 37px;
    border-radius: 72px;
    padding: 9px 20px;
    background-color: var(--white);
    box-sizing: border-box;
    text-transform: uppercase;
    font-weight: 800;
    font-size: 14px;
    text-align: center;
}

.catalog__filters-checkbox {
    margin-top: 10px;
    background: transparent;
    display: flex;
    flex-direction: column;
    gap: 10px;
}


.filters-text {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 14px;
    color: inherit !important;
    text-decoration: none !important;
    -webkit-touch-callout: default;
}

.price-range {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 10px;
}

.price-field {
    display: flex;
    align-items: center;
    gap: 8px;
}

.price-label {
    font-size: 14px;
    font-weight: 800;
    text-transform: uppercase;
}

.price-input-wrapper {
    display: flex;
    align-items: center;
}

.price-input-wrapper input {
    border: none;
    outline: none;
    padding: 10px;
    width: 107px;
    font-size: 14px;
    font-weight: 500;
    border-radius: 72px;
    background: var(--white);
    box-sizing: border-box;
    color: var(--text);
    font-family: 'Manrope', sans-serif;
}

.price-input-wrapper input::-webkit-input-placeholder {
    color: var(--text-gray-B9);
    font-weight: 700;
    font-size: 14px;
    font-family: 'Manrope', sans-serif;
}

.catalog-checkbox input:checked~.checkmark {
    background-color: var(--white) !important;
}

.catalog-checkbox input:checked~.checkmark::before {
    background-color: var(--text) !important;
}


.price-input-wrapper input::-moz-placeholder {
    color: var(--text-gray-B9);
    font-weight: 700;
    font-size: 14px;
    font-family: 'Manrope', sans-serif;
    opacity: 1;
}

.price-input-wrapper input::placeholder {
    color: var(--text-gray-B9);
    font-weight: 700;
    font-size: 14px;
    font-family: 'Manrope', sans-serif;
}

.price-input-wrapper input:-ms-input-placeholder {
    color: var(--text-gray-B9);
    font-weight: 700;
    font-size: 14px;
    font-family: 'Manrope', sans-serif;
}

.price-input-wrapper input::-webkit-outer-spin-button,
.price-input-wrapper input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

@media (max-width: 1500px) {
    .catalog__assortment {
        grid-template-columns: 1fr 1fr 1fr;
    }

    .assortment-card {
        flex-direction: column-reverse;
        height: auto;
        align-items: center;
    }

    .assortment-card>div {
        align-items: center;
        width: 100%;
    }

    .assortment-card-last {
        flex-direction: column-reverse;
    }

    .assortment-card>div>h2 {
        margin: 10px 0;
        text-align: center;
    }

    .catalog__img-big>img {
        width: 100%;
        margin-top: 50%;
    }
}

@media (max-width: 767px) {
    .catalog__assortment {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-content: space-between;
    }

    .assortment1 {
        grid-area: 1 / 1 / 2 / 2;
    }

    .assortment2 {
        grid-area: 1 / 2 / 2 / 3;
    }

    .assortment3 {
        grid-area: 2 / 2 / 3 / 3;
    }

    .assortment4 {
        grid-area: 3 / 1 / 4 / 3;
    }

    .assortment5 {
        grid-area: 2 / 1 / 3 / 2;
    }

    .assortment-card {
        background-color: var(--text-gray-e8);
        flex-direction: column-reverse;
        height: auto;
        align-items: center;
    }

    .assortment-card-last {
        flex-direction: row
    }

    .catalog__img-big>img {
        width: 90%;
        margin-top: 0;
    }

    .assortment-card-last>div>img {
        width: 70%;
    }

    .assortment5>div>img {
        width: 130% !important;
    }

    .catalog__googs {
        grid-template-columns: 1fr;
    }

    .catalog__filters-checkbox {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 10px;
    }
}



@media (max-width: 500px) {
    .assortment-card {
        padding: 15px 15px 15px 15px;
    }

    .assortment3>div>img {
        width: 70% !important;
        margin: 0 auto;
    }

    .assortment-card-tr {
        padding-bottom: 20px;
    }
}

@media (max-width: 425px) {

    .assortment-card>div {
        align-items: flex-start;
    }

    .assortment-card>div>h2 {
        margin: 6px 0;
        text-align: left;
    }

    .assortment-card-tr>div {
        align-items: self-start;
    }

    .assortment-card-tr>div>h2 {
        text-align: start;
        margin-bottom: 6px;
    }

    .assortment5>div>img {
        width: 100% !important;
    }

    .assortment-card-last>div>img {
        margin-right: 0;
        margin-left: auto;
    }

    .catalog__img>img {
        width: 90%;
        margin: 0 auto;
    }

}