header {
    padding: 17px 46px 17px 32px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    background-color: var(--white);
    box-sizing: border-box;
    align-items: center;
    border-radius: 8px;
}

.header__menu {
    display: flex;
    font-family: 'Manrope', Arial, Helvetica, sans-serif;
    align-items: center;
}

.header__menu>ul {
    font-weight: 500;
    list-style: none;
    display: flex;
    font-size: 14px;
    padding: 0;
}

.header__menu>ul>li {
    cursor: pointer;
}


.header__menu>ul>li:not(:last-child) {
    margin-right: 39px;
}

.header__menu>ul>li:hover {
    color: var(--text-h);
}


.header__contact {
    display: flex;
    margin-left: 48px;
}

.header__contact>svg {
    margin-right: 15px;
}

.header__contact>div {
    display: flex;
    flex-direction: column;
}

.header__contact>div>a {
    font-size: 16px;
    text-decoration: none;
    font-weight: 500;
    color: var(--text);
    line-height: 100%;

}

.header__contact>div>span {
    font-size: 10px;
    font-weight: 500;
    text-transform: uppercase;
}

.header__menu-basket {
    margin-left: 30px;
    padding: 0;
}

.burger-btn {
    display: none;
}

.mobile-menu-overlay {
    visibility: visible;
    opacity: 0;
    display: none;
}

@media (max-width: 1280px) {
    header>a>img {
        width: 150px;
    }

    .header__menu>ul>li:not(:last-child) {
        margin-right: 10px;
    }

    .header__menu-basket {
        margin-left: 10px;
    }

    .header__menu-basket>svg {
        width: 25px;
        height: auto;
    }

    .header__contact {
        margin-left: 10px;
    }

    .header__contact>svg {
        width: 20px;
        height: auto;
    }
}

@media (max-width: 1000px) {
    header {
        padding: 10px 20px 10px 20px
    }

    header>a>img {
        width: 121px;
    }
}

@media (max-width: 910px) {
    .header__menu>ul {
        display: none;
    }

    .header__contact>div {
        display: none;
    }

    .burger-btn {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 22px;
        height: 14px;
        background: transparent;
        border: none;
        cursor: pointer;
        padding: 0;
        margin-left: 10px;
        position: relative;
        z-index: 1002;
    }

    .burger-btn span {
        display: block;
        width: 100%;
        height: 2px;
        background-color: var(--text);
        transition: 0.2s ease;
    }

    .header__contact>svg {
        margin-right: 0px;
    }

    .burger-btn.active span:first-child {
        transform: translateY(3.5px) rotate(45deg);
        width: 22px;
    }

    .burger-btn.active span:nth-child(2) {
        display: none;
    }

    .burger-btn.active span:last-child {
        transform: translateY(-8.5px) rotate(-45deg);
        width: 22px;
    }

    .mobile-menu-overlay {
        position: fixed;
        top: 90px;
        left: 0;
        width: 100%;
        height: calc(100% - 90px);
        background-color: var(--background);
        backdrop-filter: blur(3px);
        visibility: hidden;
        opacity: 0;
        transition: visibility 0.3s, opacity 0.3s ease;
        z-index: 1;
        text-align: center;
        display: flex;
        flex-direction: column;
    }

    .mobile-menu-overlay.open {
        visibility: visible;
        opacity: 1;
    }

    .mobile-menu {
        font-weight: 700;
        font-size: 28px;
        padding: 0;
        display: flex;
        text-align: center;
        justify-content: center;
        flex-direction: column;
        height: 100%;
    }

    .mobile-menu>li:not(:last-child) {
        margin-bottom: 28px;
    }

    .mobile-menu-overlay>button {
        width: calc(100% - 40px);
        margin: auto auto 20px auto;
    }
}