.proposal__sort {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 15px 0 20px 0;
    align-items: self-end;
}


.proposalSwiper>div>div img {
    display: block;
    width: 269px;
    object-fit: cover;
    margin: 0 auto;
}

.proposal__cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(345px, 1fr));
    gap: 10px;
}

.proposal__card {
    border-radius: 5px;
    background: var(--white);
    padding: 20px;
    box-sizing: border-box;
}

.proposal__content .content {
    font-weight: 700;
}

.proposal__price>.content>.content14 {
    text-decoration: line-through;
}

.proposal__price>button {
    width: 40px;
    height: 40px;
    border: 1px solid var(--text);
    border-radius: 5px;
    padding: 0;
}

.proposal__price>button:hover {
    border-radius: 5px;
    background: var(--text);
    padding: 0;
}

.proposal__price>button:hover>svg>path {
    fill: var(--white);
}


.proposal__price>button>span {
    display: none;
}

.proposal__color {
    display: flex;
    gap: 10px;
}

.proposal__color button {
    width: 30px;
    height: 30px;
    border: 1px solid #EEEEEE;
    border-radius: 3px;
    display: flex;
    justify-content: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.proposal__color button img {
    width: 32px;
    height: 32px;
}

.proposal__color button[aria-pressed="true"] {
    border: 1px solid var(--text);
}

.proposal__price {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: -10px;
}

.proposal__price>button {
    width: 40px;
    height: 40px;
    border: 1px solid var(--text);
    border-radius: 5px;
    padding: 0;
    display: flex;
    justify-content: center;
    display: flex;
    align-items: center;
    justify-content: center;

}

.proposal__price>button:hover {
    background-color: (--text);
}

.proposal__content {
    display: flex;
    flex-direction: column;
    gap: 6px;
    margin-top: 27px;
}

.proposal__color {
    display: flex;
    gap: 10px;
    align-items: center;
    margin-top: 5px;
}


.custom-dots-scrollbar {
    display: flex;
    justify-content: center;
    gap: 8px;
    margin-top: 20px;
    padding: 10px;
}


.custom-scrollbar-wrapper {
    width: 100%;
    margin-top: 0px;
    overflow-x: auto;
}

.custom-scrollbar {
    display: flex;
    gap: 4px;
    width: 100%;
    min-width: max-content;
}


.custom-scrollbar .tick {
    flex: 1;
    height: 1px;
    background: #78909C;
    cursor: pointer;
    transition: all 0.3s ease;
}


.custom-scrollbar .tick.active {
    background: var(--text);
}

/* звёзды */
.stars-container {
    display: flex;
    flex-wrap: wrap;
}

.star {
    font-size: 15px;
    cursor: pointer;
    background: none;
    border: none;
    padding: 0;
    line-height: 1;
    color: #D9D9D9;
    transition: transform 0.2s cubic-bezier(0.2, 0.9, 0.4, 1.1), filter 0.1s;
    display: inline-block;
}


.star.selected {
    color: var(--text);
}

.proposal__star {
    display: flex;
    gap: 5px;
}

.proposal__show {
    width: 100%;
    margin-top: 20px;
    border-radius: 65px;
    font-weight: 700 !important;
    background-color: var(--white);
    padding: 20px 0;
}

.proposal-body {
    top: 550px;
    left: -250px;
}


@media (max-width: 1500px) {
    .proposal__cards {
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    }
}


@media (max-width: 1140px) {
    .proposal__sort {
        flex-direction: column;
        gap: 20px;
        align-items: flex-start;
    }

    .proposal__controls {
        flex-wrap: wrap;
    }

    .proposal__tabs {
        overflow: scroll;
        width: 100%;
        scrollbar-width: none;
        -ms-overflow-style: none;
    }

    .proposal__tabs::-webkit-scrollbar {
        display: none;
    }
}




@media (max-width: 425px) {
    .proposal__cards {
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    }

    .star {
        font-size: 9px;
    }

    .proposalSwiper>div>div img {
        width: 100%;
    }

    .proposal__tabs button {
        font-size: 10px;
    }

    .proposal__controls button {
        font-size: 12px;
    }

    .proposal__price {
        flex-direction: column;
        margin-top: 0px;
    }

    .proposal__price>button {
        width: 100%;
        font-size: 12px;
        font-weight: 700;
        text-transform: uppercase;
        border-radius: 37px;
    }

    .proposal__price>button>span {
        display: flex;
        color: var(--text);
    }

    .proposal__color {
        display: none;
    }

    .proposal__content {
        margin: 0;
    }

    .proposal__price {
        align-items: flex-start;

    }

    .proposal__price>button>svg {
        width: 14px;
        height: auto;
    }

    .proposal__content .content {
        display: flex;
        flex-direction: column-reverse;
        margin-bottom: 10px;
    }

    .proposal-body {
        display: none;
    }
}


@media (max-width: 360px) {
    .proposalSwiper>div>div img {
        width: 98px;
    }
}

@media (max-width: 350px) {
    .proposalSwiper>div>div img {
        width: 100%;
    }
}