.showroom {
    background: #1C1F23;
    width: 100%;
    padding-top: 170px;
    margin-top: 140px;
}

.showroom__bg1 {
    position: relative;
    background-image: url('../images/showroom/showroom-backround.webp');
    background-repeat: no-repeat;
    background-position: 0px 87%;
    max-width: 1780px;
    margin: 0 auto;
}


.showroom__bg2 {
    position: relative;
    background-image: url('../images/showroom/showroom-backround3.webp');
    background-repeat: no-repeat;
    background-position: 98% 0%;
    max-width: 100%;
    margin: 107px auto 0 auto;
    padding: 140px 0 80px 0;
}

.showroom__block {
    display: flex;
    justify-content: space-between;
    max-width: 1480px;
    padding: 0 20px;
    margin: 0 auto;
    box-sizing: border-box;
}

.showroom2 {
    background: #1C1F23;
    width: 100%;
    padding: 50px 0;
}


.showroom__brands {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
    max-width: 1480px;
    padding: 0 20px;
    margin: 0 auto;
    box-sizing: border-box;
    margin-top: 37px;
}

.showroom__room {
    max-width: 1480px;
    padding: 0 20px;
    margin: 0 auto;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

.showroom__block>p {
    font-weight: 600;
    font-size: 22px;
    line-height: 100%;
}

.showroom__img {
    width: 48%;
}


.showroom-kef>img {
    width: 354px;
    margin: 30px 0 0 90px;
}

.showroom__content {
    width: 49%;
    box-sizing: border-box;
}

.showroom__content1 {
    padding-right: 10px;
}

.showroom__content2 {
    padding: 32px 0 0 0;
    width: 50%;
}

.showroom__content3 {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 33px 0 22px 0;
    gap: 30px;
    color: var(--white);
}

.showroom__head {
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 10px;
}


.showroom__head>div {
    width: 50%;
}

.showroom__head>div>ul {
    margin: 0;
}

.showroom__room>h2 {
    color: var(--white);
}


.showroom__content>h2 {
    color: var(--white);

}

.showroom__content>p {
    color: var(--white);

}

.showroom__content>ul {
    color: var(--white);

}

.showroom__p {
    font-weight: 600;
    font-size: 22px;
    margin: 22px 0 24px 0;
}

.showroom__content>.content {
    margin: 25px 40px 23px 0;
}


.showroom__content>button {
    background: var(--white);
    color: var(--text);
    margin-top: -8px;
}

.showroom__img2 {
    width: 710px;
}

.showroom__img2>img {
    width: 100%;
}


.img-style {
    width: 100%;
    height: auto;
    object-fit: cover;
    display: block;
}


.showroom-nav {
    position: absolute;
    bottom: 10px;
    right: 25px;
    display: flex;
    gap: 10px;
    z-index: 10;
}


.showroom-prev,
.showroom-next {
    width: 36px;
    height: 36px;
    background: transparent;
    border: 1px solid var(--white);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    color: var(--white);
    box-sizing: border-box;
}

.showroom__btns {
    margin: 30px auto 0 auto;
    display: flex;
    gap: 30px;
}

.showroom__btns>button:first-child {
    background: var(--white);
    color: var(--text);
}

.showroom__btns>button:last-child {
    border: 1px solid var(--white);
}

.showroom__btns>button {
    padding: 18px 22px;
}

.showroom__btns-min {
    display: none;
}

@media (max-width: 1700px) {
    .showroom-kef>img {
        margin: 30px 0 0 162px;
    }
}

@media (max-width: 1600px) {
    .showroom-kef>img {
        margin: 30px 0 0 212px;
    }
}

@media (max-width: 1500px) {
    .showroom-kef>img {
        margin: 30px 0 0 20px;
        width: 270px;
    }

    .showroom__bg1 {
        background-position: -200px 51%;
        background-size: 50%;
    }

    .showroom-kef {
        width: 30%;
    }

    .showroom__content {
        width: 60%;
    }

    .showroom__content1 {
        padding-right: 0px;
    }
}


@media (max-width: 1400px) {
    .showroom__bg1 {
        background-position: -193px 100%;
    }

    .showroom__bg2 {
        background-position: 142% 0%;
    }
}

@media (max-width: 1300px) {
    .showroom__bg1 {
        background-position: -157px 0%;
    }
}

@media (max-width: 1150px) {
    .showroom__bg1 {
        background-position: -123px 0%;
    }

    .showroom__content2 {
        padding: 0;
    }
}

@media (max-width: 1100px) {
    .showroom__bg1 {
        background-position: -100px 0%;
    }

    .showroom__bg2 {
        background-position: 132% 38%;
        background-size: 52%;
    }
}

@media (max-width: 1024px) {
    .showroom__bg1 {
        background-position: -100px 38%;
    }

    .showroom__img2 {
        width: 610px;
    }
}

@media (max-width: 900px) {
    .showroom__bg1 {
        background-position: -58px 38%;
    }

    .showroom__img2 {
        width: 510px;
    }


    .showroom__brands>img {
        width: auto;
        max-width: 85px;
    }


}

@media (max-width: 768px) {
    .showroom__block {
        display: flex;
        justify-content: flex-start;
        flex-direction: column;
    }

    .showroom__block2 {
        flex-direction: column-reverse !important;
    }

    .showroom {
        padding-top: 50px;
        margin-top: 40px;
    }

    .showroom-kef {
        width: 100%;
        display: flex;
    }

    .showroom-kef>img {
        margin: 0 auto;
        width: 220px;
    }

    .showroom__bg1 {
        background-position: 50% -30px;
        background-size: 67%;
    }

    .showroom__content {
        width: 100%;
        padding: 0 20px;
    }

    .showroom__bg2 {
        margin: 0px auto 0 auto;
        padding: 60px 0 0px 0;
        background-size: 70%;
        background-position: 230% -9%;
    }

    .showroom__img2 {
        width: 100%;
        display: flex;
        margin: 0 auto;
    }

    .showroom__img2>img {
        width: 100%;
    }

    .showroom__content2 {
        padding: 20px 0 0 0
    }

    .showroom__head {
        flex-direction: column;
    }

    .showroom__head>div {
        width: 100%;
    }

    .showroom__room {
        flex-direction: column-reverse;
    }

    .showroom-nav {
        position: relative;
        bottom: -15px;
        right: 0px;
        margin: 0 auto;
        width: fit-content;
    }

    .showroom__btns {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .showroom__btns-max {
        display: none;
    }

    .showroom__btns-min {
        display: flex;
    }

    .showroom__btns>button {
        width: 100%;
        padding: 18px 2px;

    }

}


@media (max-width: 425px) {
    .showroom-kef>img {
        width: 131px;
    }

    .showroom__bg1 {
        background-position: 50% -30px;
        background-size: 80%;
    }

    .showroom__bg2 {
        margin: 0px auto 0 auto;
        padding: 60px 0 0px 0;
        background-size: 70%;
        background-position: 227% -1%;
    }


}