.showroom {
    background: #1C1F23;
    width: 100%;
    padding: 170px 0;
    margin-top: 140px;
}

.showroom__bg1 {
    position: relative;
    background-image: url('../images/showroom/showroom-backround.webp');
    background-repeat: no-repeat;
    background-position: 0px 87%;
    max-width: 1780px;
    margin: 0 auto;
}

.showroom__block {
    display: flex;
    justify-content: space-between;
    max-width: 1540px;
    margin: 0 auto;
    box-sizing: border-box;

}


.showroom__block>p {
    font-weight: 600;
    font-size: 22px;
    line-height: 100%;
}

.showroom__img {
    width: 48%;
}


.showroom__img>img {
    width: 354px;
    margin: 30px 0 0 107px;
}

.showroom__content {
    width: 51%;
    padding-right: 100px;
    box-sizing: border-box;
}

.showroom__content>h2,
p,
ul {
    color: var(--white);
}

.showroom__p {
    font-weight: 600;
    font-size: 22px;
    margin: 22px 0 24px 0;
}

.showroom__content>.content {
    margin: 25px 40px 23px 0;
}


.showroom__content>button {
    background: var(--white);
    color: var(--text);
    margin-top: -8px;
}

@media (max-width: 1700px) {
    .showroom__img>img {
        margin: 30px 0 0 162px;
    }
}

@media (max-width: 1600px) {
    .showroom__img>img {
        margin: 30px 0 0 212px;
    }
}

@media (max-width: 1500px) {
    .showroom__img>img {
        margin: 30px 0 0 20px;
        width: 270px;
    }

    .showroom__bg1 {
        background-position: -200px 51%;
        background-size: 50%;
    }

    .showroom__img {
        width: 30%;
    }

    .showroom__content {
        width: 60%;
        padding-right: 0px;
    }
}


@media (max-width: 1400px) {
    .showroom__bg1 {
        background-position: -193px 100%;
    }
}

@media (max-width: 1300px) {
    .showroom__bg1 {
        background-position: -157px 0%;
    }
}

@media (max-width: 1150px) {
    .showroom__bg1 {
        background-position: -123px 0%;
    }
}

@media (max-width: 1100px) {
    .showroom__bg1 {
        background-position: -100px 0%;
    }
}

@media (max-width: 1024px) {
    .showroom__bg1 {
        background-position: -100px 38%;
    }
}

@media (max-width: 900px) {
    .showroom__bg1 {
        background-position: -58px 38%;
    }
}

@media (max-width: 768px) {
    .showroom__block {
        display: flex;
        justify-content: flex-start;
        flex-direction: column;
    }

    .showroom {
        padding: 50px 0;
        margin-top: 40px;
    }

    .showroom__img {
        width: 100%;
        display: flex;
    }

    .showroom__img>img {
        margin: 0 auto;
        width: 220px;
    }

    .showroom__bg1 {
        background-position: 50% -30px;
        background-size: 67%;
    }

    .showroom__content {
        width: 100%;
        padding: 0 20px;
    }
}


@media (max-width: 425px) {
    .showroom__img>img {
        width: 131px;
    }

    .showroom__bg1 {
        background-position: 50% -30px;
        background-size: 80%;
    }

}