.sound-bg {
    background-image: url(/src/images/sound/hero.webp) !important;
}

.hero__sound {
    margin-top: 100px;
    display: flex;
    gap: 40px;
}

.hero__content-sound>p {
    width: 643px;
    margin-top: 15px;
    color: var(--text);
    font-size: 22px;
    font-weight: 600;
}

.hero__sound>div {
    border-radius: 10px;
    background-color: var(--white);
    display: flex;
    gap: 30px;
    align-items: center;
    padding: 20px 26px;
    box-sizing: border-box;
}

.hero__sound>div:first-child {
    width: 299px;
}

.hero__sound>div:nth-child(2) {
    width: 296px;
}

.hero__sound>div:nth-child(3) {
    width: 333px;
}

.hero__sound>div>img {
    width: 59px;
    height: 60px;
}

.hero__sound>div>p {
    font-size: 22px;
    font-weight: 700;
}

.hero__sound-min {
    display: none;
}


.architecture {
    margin-top: 45px;
    padding: 50px 0;
    background-image: url(../../src/images/consultation-form-bg.webp);
}

.architecture__wrapper {
    max-width: 1292px;
    padding: 0 20px;
    margin: 0 auto;
}

.architecture__img {
    display: flex;
    width: 100%;
    margin: 25px 0 10px 0;
    justify-content: space-between;
    gap: 10px;
}

.architecture__img picture>img {
    border-radius: 10px;
    width: 100%;
}

.architecture>div>h3 {
    color: var(--white);
}

.architecture__content {
    background: var(--white);
    margin-top: 20px;
    padding: 40px 105px 50px 60px;
    border-radius: 10px;
}

.architecture__content {
    font-size: 22px;
    font-weight: 700;
    margin: 0;
}

.architecture__content>p {
    font-size: 22px;
    font-weight: 600;
}

.sound-wrap {
    margin-top: 50px;
}

.sound-mt {
    margin-top: 100px !important;
}

.sound-form {
    width: 100%;
    padding-top: 180px;
    position: relative;
    overflow: hidden;
}

.sound-form::before {
    content: '';
    position: absolute;
    bottom: 65px;
    left: 47%;
    width: 982px;
    height: 962px;
    background-image: url(/src/images/sound/sound-bg-ring.webp);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    pointer-events: none;
}

.sound-form-block-bg {
    background: url(../images/sound/sound-bg.webp);
    background-repeat: no-repeat;
}

.sound-white-black {
    color: var(--text);
}

.sound-form__last {
    display: flex;
    align-items: center;
}

.sound-form__last>img {
    margin-top: -10px;
}

.sound-form__first>p {
    margin: 40px 0 35px 0;
    padding-right: 5px;
}


.sound-form-mt {
    margin-top: 60px;
}

.sound-form__form-w {
    max-width: 587px;
}

.sound-consept-wrapper {
    display: flex;
    align-items: center;
}

.sound-consept-wrapper>a {
    color: var(--text);
    font-size: 14px;
}


@media (max-width: 1440px) {
    .sound-form::before {
        left: 44%;
        bottom: 0px;
    }
}

@media (max-width: 1280px) {
    .sound-form__last>img {
        width: 520px;
    }

    .sound-form::before {
        left: 42%;
        bottom: 101px;
        height: 711px;
        width: 905px;
    }
}


@media (max-width: 1100px) {
    .hero__sound-max {
        display: none;
    }

    .hero__sound-min {
        display: flex;
    }

    .hero__sound {
        margin-top: 30px;
        gap: 20px;
    }

    .hero__sound>div>img {
        width: 29px;
        height: 29px;
    }

    .hero__sound {
        justify-content: space-between;
    }

    .hero__sound>div {
        border-radius: 10px;
        gap: 10px;
        padding: 15px 15px;
    }

    .hero__sound>div:first-child {
        width: auto;
    }

    .hero__sound>div:nth-child(2) {
        width: auto;
    }

    .hero__sound>div:nth-child(3) {
        width: auto;
    }

    .hero__sound>div>p {
        font-size: 16px;
    }

    .sound-form::before {
        left: 39%;
        bottom: 178px;
        height: 590px;
        width: 809px;
    }
}

@media (max-width: 1024px) {
    .architecture__content {
        padding: 40px;
    }

    .sound-form {
        padding-top: 80px;
    }

    .sound-form__last>img {
        width: 450px;
        margin-right: -100px;
    }

    .sound-form::before {
        left: 45%;
        bottom: 101px;
        height: 590px;
        width: 809px;
    }


}

@media (max-width: 900px) {
    .sound-mt {
        margin-top: 70px !important;
    }
}


@media (max-width: 768px) {
    .hero__content-sound>p {
        width: 100%;
        font-size: 20px;
    }

    .architecture__content {
        padding: 30px;
    }

    .architecture__content>h5 {
        font-size: 18px;
    }

    .architecture__content>p {
        font-size: 18px;
    }

    .sound-wrap {
        margin-top: 20px;
    }

    .consultation-form__block {
        display: flex;
        justify-content: right;
        flex-direction: column;
        width: 100%;
    }

    .sound-form__last>img {
        margin: 20px auto 0 auto;
        width: 320px;
    }

    .sound-form__first>p {
        margin: 20px 0 15px 0;
        padding-right: 0px;
        font-size: 14px;
    }

    .sound-form__form-w {
        max-width: 100%;
    }

    .sound-form {
        padding-top: 30px;
    }

    .sound-form::before {
        bottom: 0;
        width: 540px;
        height: 545px;
        background-image: url(/src/images/sound/sound-bg-ring-min.webp);
        left: 50%;
        transform: translateX(-50%);
        right: auto;
        background-size: contain;
        background-position: center;
    }
}



@media (max-width: 700px) {
    .hero__sound {
        margin-top: 20px;
        gap: 10px;
        justify-content: start;
        flex-direction: column;
    }
}

@media (max-width: 500px) {
    .architecture {
        margin-top: 30px;
        padding: 20px 0 0 0;
        background-image: none
    }

    .architecture__img {
        justify-content: start;
        flex-direction: column;
        margin: 20px 0 0 0;
        gap: 10px;
        background-color: var(--white);
    }

    .architecture__img>img {
        width: 100%;
    }

    .architecture>div>h3 {
        color: var(--text);
    }

    .architecture__content {
        padding: 20px;
        font-size: 14px;
        border-radius: 0 0 10px 10px;
    }

    .architecture__content>span {
        font-weight: 400;
    }

    .sound-mt {
        margin-top: 30px !important;
    }

    .sound-form__last>img {
        margin: 20px auto 0 auto;
        width: 320px;
    }

    .sound-form__last>img {
        width: 240px;
    }

    .sound-form::before {
        bottom: 3px;
        width: 428px;
        height: 412px;
    }
}

@media (max-width: 375px) {
    .sound-form::before {
        width: 338px;
        height: 445px;
    }
}