.warranty {
    border-radius: 5px;
    padding: 40px 40px 40px 40px;
    display: flex;
    gap: 20px;
}

.container3 {
    max-width: 1440px;
    padding: 0 20px;
    margin: 0 auto;
}

.warranty-white {
    background-color: var(--white);
    justify-content: space-between;
}

.warranty-black {
    background-color: transparent;
    flex-direction: row-reverse;
    justify-content: space-between;
}

.warranty__content {
    border-radius: 5px;
}

.warranty__content>p {
    margin: 10px 0 10px 0;
}

.warranty__content>h3 {
    max-width: 583px;
}

.warranty__style {
    max-width: 390px;
}

.warranty__list {
    margin-top: 20px;
    max-width: 714px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.warranty__list>div {
    background: var(--background);
    padding: 10px;
    border-radius: 5px;
    display: flex;
    gap: 10px;
    align-items: center;
}

.warranty__list>div>img {
    width: 37px;
    height: 37px;
}

.warranty__img {
    width: 506px;
    border-radius: 10px;
}


.warranty__logistic {
    margin: 20px 0;
    background-image: url(./../images/warranty/warranty-bg.webp);
}

.logistic__style>h3 {
    color: var(--white);
}

.logistic__style>p {
    color: var(--white);
    max-width: 583px;
    font-weight: 500 !important;
}


.footer-warranty {
    margin-top: 20px;
}

@media (max-width: 1000px) {
    .container3 {
        padding: 20px;
    }

    .warranty-white {
        flex-direction: column-reverse;
        background-color: transparent;
    }

    .warranty__img {
        width: 100%;
    }

    .warranty__list {
        max-width: 100%;
    }

    .warranty-black {
        flex-direction: column-reverse;
    }

    .warranty {
        padding: 0;
        gap: 10px;
    }

    .warranty__list>div {
        background: #D9D9D9;
    }

    .warranty__content {
        padding: 20px;
        background-color: var(--white);
    }

    .logistic__style {
        background-color: var(--white);
    }

    .logistic__style>h3 {
        color: var(--text);
    }

    .logistic__style>p {
        color: var(--text-desc);
    }
}

@media (max-width: 425px) {
    .warranty__list>div>img {
        width: 30px;
        height: 30px;
    }

    .warranty__list>div>p {
        font-size: 12px !important;
    }



}