@import url("./styles/header.css");
@import url("./styles/hero.css");
@import url("./styles/catalog.css");
@import url("./styles/proposal.css");
@import url("./styles/solutions.css");
@import url("./styles/systems.css");
@import url("./styles/accompany.css");
@import url("./styles/consultation.css");
@import url("./styles/showroom.css");

@font-face {
  font-family: 'Manrope';
  src: url('/fonts/manrope/Manrope-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Manrope';
  src: url('/fonts/manrope/Manrope-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Manrope';
  src: url('/fonts/manrope/MManrope-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Manrope';
  src: url('/fonts/manrope/Manrope-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Manrope';
  src: url('/fonts/manrope/Manrope-ExtraBold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}


:root {
  --background: #F2F2F2;
  --text: #000000;
  --text-desc: #3C3C3C;
  --text-gray: #959595;
  --text-gray-c5: #C5C5C5;
  --text-gray-e8: #E8E8E8;
  --text-h: #6E6E6E;
  --white: #FFFFFF;
  --btn: #4C4C4C;
  --btn-h: #D0D0D0;
}


body {
  margin: 0;
  padding: 0;
  font-family: 'Manrope', Arial, Helvetica, sans-serif;
  background: var(--background);
}

h1,
h2,
h3,
p {
  margin: 0;
}

.container {
  max-width: 1480px;
  padding: 0 20px;
  box-sizing: border-box;
  margin: 0 auto;
}

.container2 {
  max-width: 1480px;
  padding: 0 0 0 20px;
  box-sizing: border-box;
  margin: 0 auto;
}

ul {
  list-style: none;
}

button {
  cursor: pointer;
  border: none;
  background: none;
}

.btn-main {
  border-radius: 37px;
  background: var(--text);
  color: var(--white);
  font-weight: 700;
  text-transform: uppercase;
  padding: 18px 25px;
  font-size: 16px;
}

.btn-cat {
  border-radius: 37px;
  background: transparent;
  color: var(--text);
  border: 1px solid var(--text);
  font-weight: 700;
  text-transform: uppercase;
  padding: 12px 20px;
  font-size: 12px;
  max-width: 134px;
}

.btn-main:hover {
  background: var(--btn);
}

.headline {
  font-weight: 700;
  font-size: 52px;
  line-height: 120%;
}

.headline-h2 {
  font-weight: 600;
  font-size: 24px;
  line-height: 120%;
}

.content {
  font-weight: 400;
  font-size: 18px;
  line-height: 139%;
}

.content16 {
  font-weight: 600;
  font-size: 16px;
  line-height: 139%;
  color: var(--text-desc);
}

.content14 {
  font-weight: 400;
  font-size: 14px;
  line-height: 139%;
  color: var(--text-desc);
}


.content12 {
  font-weight: 400;
  font-size: 12px;
  line-height: 139%;
  color: var(--text-desc);
}

.sectionTop {
  margin-top: 120px;
}

.swiper {
  width: 100%;
}


.controls-btn {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}

.controls-btn button {
  background: var(--white);
  color: var(--text);
  padding: 9px 20px;
  border-radius: 5px;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  border: 1px solid var(--white);
}

.controls-btn button[aria-pressed="true"] {
  border: 1px solid var(--text);
}


.controls-btn button:hover {
  border: 1px solid #C5C5C5
}


.controls__tabs {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

.controls__tabs button {
  color: var(--text-gray);
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  white-space: nowrap;
  padding: 0;
  border: none;
}


.controls__tabs button[aria-pressed="true"] {
  color: var(--text);
  border-bottom: 1px solid var(--text);
}


.controls__tabs button:hover {
  color: var(--text);
}

.body-rel {
  position: relative;
}

.body-rel img {
  position: absolute;
  z-index: -1;
}

blockquote {
  margin: 0;
}


@media (max-width: 1100px) {

  .content {
    font-size: 16px;
  }

  .headline-h2 {
    font-size: 18px;
  }

  .headline {
    font-size: 40px;
  }

  .content16 {
    font-size: 14px;
  }

  .sectionTop {
    margin-top: 100px;
  }

}


@media (max-width: 425px) {
  .btn-main {
    font-size: 14px;
    padding: 16px 22px;
  }


  .headline-h2 {
    font-size: 14px;
  }

  .headline {
    font-size: 32px;
  }

  .sectionTop {
    margin-top: 78px;
  }

  .btn-cat {
    padding: 8px 10px;
    width: 100%;
  }

  .assortment-card>div {
    align-items: flex-start;
  }

  .assortment-card>div>h2 {
    margin: 6px 0;
    text-align: left;
  }

  .assortment-card-tr>div {
    align-items: self-start;
  }

  .assortment-card-tr>div>h2 {
    text-align: start;
    margin-bottom: 6px;
  }

  .assortment5>div>img {
    width: 100% !important;
  }

  .assortment-card-last>div>img {
    margin-right: 0;
    margin-left: auto;
  }

  .controls-btn button {
    padding: 6px 10px;
    font-size: 12px;
  }

  .controls__tabs button {
    font-size: 10px;
  }
}

@media (max-width: 330px) {
  .btn-cat {
    padding: 8px 4px;
  }
}